body {
    background-color: #efefef;
}

.main {
    background-color: white;
    margin: 30px;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
}

.media-object {
    width: 60px;
    height: 60px;
}

.media-heading {
    padding-top: 20px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile .section {
    margin-top: 15px;
}

.blog-menu {
    color: #9999;
}

.jumbotron {
    margin: 50px;
}

.comment {
    margin: 18px 0px;
}

.comment-btn {
    float: right;
    margin-bottom: 15px;
    padding: 14px 20px;
}