body {
    background-color: #efefef;
}

.main {
    background-color: white;
    margin: 30px;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
}

.media-object {
    width: 60px;
    height: 60px;
}

.media-heading {
    padding-top: 20px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile .section {
    margin-top: 15px;
}

.blog-menu {
    color: #9999;
    display: block;
    font-size: 13px;
    margin-bottom: 15px;
}

.blog-menu-profile {
    color: #9999;
    font-size: 13px;
    margin-bottom: 15px;
}


.jumbotron {
    margin: 50px;
}

.comment {
    margin: 18px 0px;
}

.sub-comments {
    border-radius: 5PX;
    margin-top: 10px;
    border: 1px solid #e4b9b9;
    padding-top: 15px;
    margin-bottom: 15px;
}

.comments {
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.comment-btn {
    float: right;
    margin-bottom: 15px;
    padding: 14px 20px;
}

.publish-tab-tags {
    display: none;
    margin-top: 10px;
    padding: 10px;
}

.question-related {
    line-height: 20px;
    font-size: 12px;
    margin-left: 0px;
    list-style: none;
    padding-left: 5px;
}

.comment-sp {
    margin-top: 0;
}

.menu {
    color: #999;
    margin-top: 5px;
}

.menu .active {
    color: #499ef3;
}

.menu .icon {
    margin-right: 6px;
    font-size: 15px;
    cursor: pointer;
}

.menu .icon:hover {
    color: #499ef3;
}

.question-tag {
    margin-right: 5px
}