<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>我的提问</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
   <link rel="stylesheet" href="/editormd/css/editormd.preview.css"/>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <link rel="stylesheet" href="/css/blog.css">
    <script src="/js/comment.js"></script>
    <script src="/js/moment.js"></script>
    <script src="/editormd/editormd.js"></script>
    <script src="/editormd/lib/marked.min.js"></script>
    <script src="/editormd/lib/prettify.min.js"></script>

</head>
<body>
<div th:insert="navigation :: nav"></div>
<div class="container-fluid main profile">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 20px;">
                <h2><span th:text="${questionDTO.title}"></span></h2>
                <span class="text-desc">
                作者: <span th:text="${questionDTO.user.login}"></span>
                发布时间: <span th:text="${#dates.format(questionDTO.gmt_create,'dd MMMM yyyy')}"></span>
                阅读数: <span th:text="${questionDTO.view_count}"></span>
            </span>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <!-- 经过markdown编辑把内容复原-->
                <div id="test-markdown-view" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <textarea style="display:none;" th:text="${questionDTO.description}"></textarea>
                </div>
                <script type="text/javascript">
                    $(function() {
                        var testView = editormd.markdownToHTML("test-markdown-view", {});
                    });
                </script>

                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10px; margin-bottom: 1px;">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <span class="label label-info question-tag" th:each="tag:${questionDTO.tag.split(',')}">
                          <span class="glyphicon glyphicon-tags"></span>
                          <span class="label label-info" th:text="${tag}"></span>
                      </span>
                </div>

                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 5px; margin-bottom: 10px;">
                <a th:href="@{'/publish/'+${questionDTO.id}}" class="blog-menu"
                   th:if="${session.user!=null && session.user.login == questionDTO.creator}">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true">编辑</span>
                </a>
            </div>

            <!--回复-->
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 30px" id="comment-dis">
                <h4><span th:text="${questionDTO.comment_count}"></span>个回复</h4>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment-sp">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment-sp comments"
                     th:each="comment:${commentDisDTOList}">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object img-rounded"
                                     th:src="${comment.user.avatar_url}">
                            </a>
                        </div>
                        <div class="media-body">
                            <h6>
                                <span th:text="${comment.commentator}"></span>
                            </h6>
                            <div th:text="${comment.content}"></div>
                            <div class="menu">
                                <span class="glyphicon glyphicon-thumbs-up icon"></span>
                                <span class="glyphicon glyphicon-comment icon" th:data-id="${comment.id}"
                                      onclick="collapseComments(this)"></span>
                                <div th:text="${comment.likeCount}" style="display: inline"></div>
                                <span class="pull-right"
                                      th:text="${#dates.format(comment.gmtCreator,'yyyy-MM-dd')}"></span>
                            </div>

                            <!-- 二级评论-->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 collapse sub-comments"
                                 th:id="${'comment-'+comment.id}">

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <input type="text" class="form-control" placeholder="评论一下..."
                                           th:id="${'input-'+comment.id}">
                                    <button type="button" class="btn btn-success pull-right" style="margin: 15px 0px"
                                            onclick="commentTarger(this)" th:data-id="${comment.id}">
                                        评论
                                    </button>
                                    </input>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="comment_section">
                <h3>提交回复</h3>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10px">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object img-rounded"
                                    th:src="${session.user != null ? session.user.avatar_url : '/img/timg.png'}">
                            </a>
                        </div>
                        <div class="media-body">
                            <h6 class="media-heading">
                                <span th:text="${session.user != null ? session.user.login : '匿名头像'}"></span>
                            </h6>
                        </div>
                        <!--用Js的点击事件方式,把传递的值转换成JSON格式发送给Controller-->
                        <input type="hidden" id="comment_hidden" th:value="${questionDTO.id}">
                        <textarea class="form-control comment" rows="6" id="comment_description"></textarea>
                        <button type="button" class="btn btn-success comment-btn" onclick="post()">回复
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>发起人</h4>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-circle"
                                 th:src="${questionDTO.user.avatar_url}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h6 class="media-heading">
                            <span th:text="${questionDTO.creator}"></span>
                        </h6>
                    </div>
                </div>
            </div>
            <!--广告图片 -->
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 5px">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4 style="font-weight: 700;font-size: x-large; background-color: #5bc0de">英雄联盟</h4>
                <img class="img-thumbnail" src="/img/lol.png" style="idth: 500px; height: 200px;">
            </div>
            <!--相关问题-->
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>相关问题</h4>
                <ul class="question-related">
                    <li th:each="questionDTOTag : ${questionDTOSet}">
                        <a th:href="@{'/MyQuestion/'+ ${questionDTOTag.id}}" th:text="${questionDTOTag.title}"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div th:insert="footer :: div"></div>
</body>
</html>